@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap";

* {
    box-shadow: 0 0 1px rgba(0,0,0,0.01);
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #FAFAFA;
}

.card {
  padding: 20px;
  margin: 10px;
  background: white;
  border: 1px solid #ddd;
}

.big-bloat {
    width: 10000px;
    height: 10000px;
    background: linear-gradient(red, yellow, blue, black, white, pink, green, orange, teal, purple);
    opacity: 0.5;
}

img {
    max-width: none !important;
}
